<style>
    .body {
        background-image: url(assets/Fundo2.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
        position:relative;
        height: 90vh;
        width: 99vw;
    }

    .button {
        padding: 5px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        background-color: white;
        color: black;
        border: 2px solid #1976d2;
    }
</style>

<body class="body">
    <br>

    <table border="0" width=100%>
        <tr>
            <td height="90" align="center">
                <img src="assets/ex.PNG" alt="image" style="width:90;">
        </tr>
    </table>

    <table border="0" width=100%>
        <tr>
            <td align="center" style="font-size:medium">
                <h1> Cursos Complementares </h1>
                <p style="color: black;"><b>
                        Fundamentos de Ethical Hacking<br></b> <a href="assets/cert-ethical.jpg" target="_blank"
                        class="button"> <b>Certificado</b> </a>
                    <br><br>
                    <b>Hacker Ético Profissional com Kali Linux<br> </b> <a href="assets/cert-hacker-ethical.jpg"
                        target="_blank" class="button"> <b>Certificado</b> </a>
                    <br><br>
                    <b>Cursos Técnicas de invasão a redes sem fio<br></b> <a href="assets/cert-wireless.jpg"
                        target="_blank" class="button"> <b>Certificado</b> </a>
                    <br><br>
                    <b> Ataques de negação de servico (Dos e DDOS)<br> </b> <a href="assets/cert-ddos.jpg"
                        target="_blank" class="button"> <b>Certificado</b> </a>
                    <br><br>
                    <b>Metasploit Hands ON<br> </b> <a href="assets/cert-meta.jpg" target="_blank" class="button">
                        <b>Certificado</b> </a>


                </p>
                <br>
                <br><br><br><br>



    </table>

</body>