<style>
    .body {
        background-image: url(assets/Fundo2.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
        position:relative;
        height: 90vh;
        width: 99vw;
    }
    .button {
  
  
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: white; 
  color: black; 
  border: 2px solid #1976d2;
}
</style>

<body class="body">
    <br>
    
        <table border="0" width=100%>
            <tr>
                <td height="90" align="center">
                    <img src="assets/ex.PNG" alt="image" style="width:90;">
            </tr>
        </table>
        <br><br><br>
        <table border="0" width=100%>
            <tr>
                <td align="center" style="font-size:medium">
                    <h1> Formação Acadêmica  </h1>
                    <p style ="color: black;">
                        <b style="font-size: 19px;">Tecnólogo em redes de computadores</b> <br> 
                        Instituição: Anhanguera Educacional<br><br> <a  href="assets/cert-faculdade.jpg" target="_blank" class="button"> <b>Certificado</b> </a>
                        <br><br>
                        <b style="font-size: 19px;">Fisk Speend English</b><br>
                        Instituição: Fundação Richard Hugh Fisk<br><br>  <a  href="assets/cert-english.PNG" target="_blank" class="button"> <b>Certificado</b> </a>
                        <br><br>
                        
                        
                    </p>
                
              
               
           
        </table>
    
        <br><br><br><br><br><br><br><br><br><br>
   
</body>