<style>
    .body {
        background-image: url(assets/Fundo2.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
        position:relative;
        height: 90vh;
        width: 99vw;
        
}

    
</style>

<body class="body">

    
    <br>
        <table border="0" width=100%>
            <tr>
                <td height="90" align="center">
                    <img src="assets/ex.PNG" alt="image" style="width:90;">
            </tr>
        </table>
        <br>
        <table border="0" width=100%>
            <tr>
                <td align="center" style="font-size:medium">
                    <h1 style="color: black;"> Ferramentas de Service Desk  </h1>
                    <p style ="color: black; font-size: 19px;">
                        Help Desk Advanced ( HDA )
                        <br>
                        Microsiga Protheus ( TOTVS )
                        <br>
                        Office 365
                        <br>
                        Slack e Microsoft Teams
                        <br>
                        TABControl
                        <br>
                        VPN'S ( Checkpoint e Cisco Any Connect)
                        
                        
                    </p>
                
           
                
                    <h1 style="color: black;"> Ferramentas de Desenvolvimento  </h1>
                    <p style="color: black; font-size: 19px;"> 
                        CodeBlocks
                        <br>
                        Eclipse
                        <br>
                        Pg Admin 4
                        <br>
                        GIT / GITLAB / GITHUB
                        <br>
                        Virtual Box
                        <br>
                        Visual Studio Code
                        <br>
                    </p>
              
               
           
        </table>
        
        <br><br>
   
</body>