<style>
    .body {
        background-image: url(assets/Fundo2.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
        position:relative;
        height: 90vh;
        width: 99vw;
    }
</style>

<body class="body">

    <br>
        <table border="0" width=100%>
            <tr>
                <td height="90" align="center">
                    <img src="assets/ex.PNG" alt="image" style="width:90;">
            </tr>
        </table>
        <br><br><br><br><br>
        <table border="0" width=100%>
            <tr>
                <td align="center">
                    <img src="assets/habilidades.PNG" alt="image" style="width:90;">
                <br><br>
               </td>
            </tr>
        </table>
        
        <br><br><br><br><br><br><br><br><br>
   
</body>